body { 
  background:	#464649;
	font-family: arial;
}


input{
    text-align: left;
    float:right;
}

/* unvisited link */
a:link {
    color: #FFFFF;
}
h1 {
	text-align: center;
	color: white;
}

p { 
    text-align: right;
	color: white;
}
.submit { text-align: right; }

.register {
  position: relative;
  margin: 0 auto;
  width: 350px;
}