body { 
	background:	#464649;
	font-family: arial;
}

h1 {
	text-align: center;
	color: white;
}

p1 { 
	position: absolute;
	left: 120px;
	top: 120px;
}

p2 { 
	position: absolute;
	left: 640px;
	top: 120px;
}
p3 { 
	position: absolute;
	left: 1150px;
	top: 120px;
}

p4 { 
	position: absolute;
	left: 1150px;
	top: 466px;
}
p5 { 
	position: absolute;
	left: 1150px;
	top: 830px;
}

.titles {
    font-size: 20px;
    color: white;

}

.insideBoxText{
    font-size: 20px;
}

text {
    font-size: 20px;
    color: white;
}

.buyMoreGames{
    z-index: -1;
    position: absolute;
    left: 1030px;
    top: 81px;
}

.eventsBox{
    z-index: -1;
    position: absolute;
    left: 1030px;
    top: 431px;
}

.notificationsBox{
    z-index: -1;
    position: absolute;
    left: 1030px;
    top: 810px;
}